<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
    <title>Biscoff Bakery - Admin</title>
</head>

<body>
    <div class="hero-image">
        <h1 class="title myhero-title">Biscoff Bakery - Admin</h1>
    </div>

    <div class="my-section">
        <a class="button bottom" href="/admin/add">Add New Product</a>
    </div>

    <div class="my-section">
        <hr>
        <div class="columns">
            <div class="column is-one-fifth">
                &nbsp;
            </div>
            <div class="column is-two-fifths">
                Product Name
            </div>
            <div class="column is-one-fifths">
                Unit Price
            </div>
            <div class="column is-one-fifths">
                Action
            </div>
        </div>
        <%products.forEach((product,idx)=>{%>
        <hr>
        <div class="columns">
            <div class="column is-one-fifth">
                <img class="image is-64x64" src="<%=product.image%>" alt="<%=product.name%>">
            </div>
            <div class="column is-two-fifths">
                <%=product.name%>
            </div>
            <div class="column is-one-fifths">
                <%=product.price%>
            </div>
            <div class="column is-one-fifths">
                <a class="button bottom" href="/admin/edit/<%=idx%>">Edit</a>
            </div>
            <div class="column is-one-fifths">
                <form action="/admin/<%= idx %>?_method=DELETE" method="POST">
                    <input type="submit" class="button bottom" value="Delete" />
                </form>
            </div>
        </div>
        <%})%>
    </div>
</body>

</html>